HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]

default_bits       = 4096
default_keyfile    = server.key
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only

####################################################################
[ server_distinguished_name ]

countryName = Country Name (2 letter code)
countryName_default = US

stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = CA

localityName = Locality Name (eg, city)
localityName_default = Morgan Hill

organizationName = Organization Name (eg, company)
organizationName_default = Sig Nin Dev

organizationalUnitName = Organizational Unit (eg, division)
organizationalUnitName_default = Server Research Department

commonName = Common Name (e.g. server FQDN or YOUR name)
commonName_default = Sig Nin Dev Server

emailAddress  = Email Address
emailAddress_default = signin@email.com

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
subjectAltName       = @alternate_names
nsComment            = "OpenSSL Generated Certificate"

####################################################################
[ alternate_names ]

DNS.1       = localhost
IP.1        = 127.0.0.1

# IPv6 localhost
IP.2     = ::1
IP.3     = fe80::1

#
URI.1       = https://localhost/
URI.2       = https://127.0.0.1/
